* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
    --black-color: #000;
    --white-color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
