* {
    box-sizing: border-box;
}

:root {
    --primary-color: #1ebfc1;
    --black-color: #000;
    --white-color: #fff;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ========== Common ========== */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: block;
    min-width: 186px;
    line-height: 68px;
    border: none;
    border-radius: 14px;
    background-color: #1ebfc1;
    text-align: center;
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}
/* ========== Header ========== */
.header {
    position: sticky;
    top: -34px;
    z-index: 1;
    background-color: var(--white-color);
}

.header .nav {
    display: flex;
    align-items: center;
    padding: 52px 0 16px;
}

.header .nav .nav-list {
    display: flex;
    margin-left: 235px;
    gap: 39px;
}

.header .nav .nav-list .item a {
    color: #2f3a3b;
    font-size: 1.6rem;
}

.header .nav .nav-list .item a:hover:not(.active) {
    text-shadow: 1px 0px 0px var(--black-color);
}

.header .nav .nav-list .item:first-child {
    font-weight: 600;
}

.header .nav .actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header .nav .actions a {
    color: #494949;
    font-size: 1.6rem;
}

.header .nav .actions a:hover:first-of-type {
    text-decoration: underline;
}

.header .nav .actions .btn-actions {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    width: 108px;
    height: 48px;
    border: 1px solid var(--primary-color);
    border-radius: 6px;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
}

.header .nav .actions .btn-actions:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

/* ========== Hero ========== */
.hero {
    padding: 34px 0 80px;
}

.hero .wrapper {
    display: flex;
}

/* Hero left */
.hero .wrapper .info-block {
    width: 40%;
}

.hero .wrapper .info-block .sub-title {
    margin-top: 128px;
    color: #767e7e;
    font-size: 1.4rem;
}

.hero .wrapper .info-block .main-heading {
    margin-top: 18px;
    color: var(--black-color);
    font-size: 6.2rem;
    font-weight: 700;
    line-height: 1.18;
}

.hero .wrapper .info-block .desc {
    margin-top: 46px;
    width: 374px;
    color: #9da6a5;
    font-size: 1.8rem;
    line-height: 1.78;
}

.hero .wrapper .info-block .cta-group {
    margin-top: 52px;
    display: flex;
    align-items: center;
}

.hero .wrapper .info-block .cta-group .play-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 62px;
    height: 62px;
    margin-left: 50px;
    border-radius: 50%;
    background-color: var(--white-color);
    border: 1px solid var(--primary-color);
}

.hero .wrapper .info-block .cta-group .play-btn:hover {
    opacity: 0.7;
}

/* Hero right */
.hero .wrapper .image-block {
    position: relative;
    width: 60%;
}

.hero .wrapper .image-block .image-media {
    background-color: #e0f7f6;
    margin-left: 136px;
}

.hero .wrapper .image-block .image-media img {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero .wrapper .image-block .courses-block .image-wrapper-courses {
    position: relative;
}

.hero .wrapper .image-block .courses-block .image-wrapper-courses .book-bottom {
    position: absolute;
    top: 28px;
    left: 4px;
}

.hero .wrapper .image-block .courses-block {
    display: flex;
    align-items: center;
    padding: 18px 25px;
    gap: 16px;
    position: absolute;
    top: 149px;
    left: 96px;
    width: 157px;
    height: 75px;
    background-color: var(--white-color);
    border-radius: 18px;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .wrapper .image-block .courses-block .desc {
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
}

.hero .wrapper .image-block .schedules-block {
    position: absolute;
    top: 454px;
    left: 70px;
    width: 124px;
    height: 132px;
    padding: 16px 25px 24px;
    border-radius: 24px;
    background-color: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .wrapper .image-block .schedules-block .desc {
    color: var(--black-color);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
}

.hero .wrapper .image-block .schedules-block .outline-bottom {
    margin-top: 16px;
}

.hero .wrapper .image-block .schedules-block .outline-bottom img:nth-child(2) {
    margin-top: 12px;
}

.hero .wrapper .image-block .schedules-block .outline-bottom img:nth-child(3) {
    margin-top: 10px;
}

.hero .wrapper .image-block .schedules-block .outline-bottom img:nth-child(4) {
    display: block;
    margin: 16px auto 0;
}

.hero .wrapper .image-block .active-students {
    position: absolute;
    right: 45px;
    bottom: 41px;
    width: 207px;
    height: 90px;
    padding: 17px 35px;
    border-radius: 24px;
    background-color: var(--white-color);
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero .wrapper .image-block .active-students .desc {
    color: var(--black-color);
    font-size: 1rem;
    font-weight: 500;
}

.hero .wrapper .image-block .active-students .avatar-students {
    display: flex;
    align-items: center;
    margin-top: 8px;
}

.hero
    .wrapper
    .image-block
    .active-students
    .avatar-students
    .img-avatar-students {
    min-width: 33px;
    height: 33px;
    margin-left: -8px;
    display: inline-block;
    border-radius: 50%;
}

.hero
    .wrapper
    .image-block
    .active-students
    .avatar-students
    .quantity-students {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 33px;
    height: 33px;
    margin-left: -8px;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.hero
    .wrapper
    .image-block
    .active-students
    .avatar-students
    .quantity-students
    span {
    display: block;
    margin: 0 auto;
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 500;
}

.hero
    .wrapper
    .image-block
    .active-students
    .avatar-students
    .img-avatar-students:first-child {
    background-color: var(--primary-color);
    margin-left: 0;
}

.hero
    .wrapper
    .image-block
    .active-students
    .avatar-students
    .img-avatar-students:nth-child(2) {
    background-color: #ffc147;
}

.hero
    .wrapper
    .image-block
    .active-students
    .avatar-students
    .img-avatar-students:nth-child(3) {
    background-color: #ff947a;
}

.hero
    .wrapper
    .image-block
    .active-students
    .avatar-students
    .img-avatar-students:nth-child(4) {
    background-color: #bf83ff;
}

.hero
    .wrapper
    .image-block
    .active-students
    .avatar-students
    .img-avatar-students
    img {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
}
